# Environment variables
.env
.env.*       # any other env variants

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3
*.db

# VSCode settings
.vscode/

# Windows system files
Thumbs.db
ehthumbs.db

# virtual environments locally
venv/
.envs/
env/
